*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins", sans-serif
}

.container{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 3px;
    margin-top: 10px;
    
}

.card-content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    
   
}

.card{
    position: relative;
    background: white;
    max-width: 250px;
    width: 325px;
    height: auto;
    margin: 25px;
    box-shadow: 0 5px 25px rgb(1 1 1 / 20%);
    overflow: hidden;
    border-radius: 10px;
}

.card-image{
max-height: 200px;
}

.card-image img{
    max-width: 100%;
    height: auto;

}

.card-info{
    position: relative;
    color: #222;
    padding: 10px 20px 20px;
}

.card-info h3{
    font-size: 1.8em;
    font-weight: 800;
    margin-bottom: 5px;
}

.card-info p{
    font-size: 1em;
    margin-bottom: 5px;
}

.pagination{
    text-align: center;
    margin: 30px 30px 60px;
    user-select: none;
}

.pagination li{
    display: inline-block;
    margin: 5px;
    box-shadow: 0 5px 25px rgb(1 1 1 / 10%);
}

.pagination li a{
    color: white;
    text-decoration: none;
    font-size: 1.2em;
    line-height: 45px;
}
.previous-page, .next-page{
    background: #fabaa3;
    width: 80px;
    border-radius: 45px;
    cursor: pointer;
    transition: 0.3s ease;
}

.previous-page:hover, .next-page:hover{
    transform: translateX(5px);

}

.current-page, .dots{
    background: #ccc;
    width: 45px;
    border-radius: 50%;
    cursor: pointer;
}

.disable{
    background: white;
}

.active{
    background: #fabaa3;
}
