.shortcut--links a{
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    width: fit-content;
    flex-wrap: wrap;
   color: #000;
   font-size: 18px;
   overflow: auto;
}
.shortcut--links a img{
    width: 20px;
    margin-right: 20px;
}
.shortcut--links a:first-child{
    color: #ed3833;
    font-weight: bolder;
    text-align: right;
    
}

  .shortcut--links a:hover{
    background: #caa68f;
  }
 
  .list-container1{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-column-gap: 16px;
    grid-row-gap: 30px;
    margin-top: 15px;
    padding-top: 70px;
}
body{
    background-color: #FFedda;
}

.list-container-title h1{
    align-items: center;
    text-align: center;
    padding-top: 15px;
    color: gray;
    
}
.vl {
    border-left: 6px solid #fad1c3;
    height: 100%;
    position: fixed;
  left: 15%;
  
}

h1{
  text-align: center;
  color: #3d3c3b;
  margin-bottom: 20px;
  margin-top: 20px;
}

hr{
  border: 4px solid  #907870;
  margin-bottom: 10px;
  
}
.other-button button{
 text-align: center;
  cursor: pointer;
  border-radius: 50px;
  height: 40px;
  border-color:  #754738;
  border-width: 1px;
  border-style: solid;
 width: 200px;
 margin: 20px;
color: #754738;
margin-bottom: 3px;
}

.other-button button:hover{
  background-color: #754738;
  color: white;
}