.shortcut--links a{
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    width: fit-content;
    flex-wrap: wrap;
   color: #000;
   font-size: 18px;
   overflow: hidden;
}
.shortcut--links a img{
    width: 20px;
    margin-right: 20px;
}
.shortcut--links a:first-child{
    color: #ed3833;
    font-weight: bolder;
    text-align: right;
    
}

  .shortcut--links a:hover{
    background: #caa68f;
  }
 
  